.chatbox {
    width: 75%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 30px;
    position: relative;
    border: 1px solid grey
}
.user-message {
    background-color: #015495;
    color: #fff;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
.bot-message {
    background-color: #EE7E38;
    color: #fff;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
.user-input-container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    width: 95%;
}
#user-input {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
#send-button {
    margin-left: 10px;
    cursor: pointer;
}

.column {
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 55vh;
}

.vh-logo {
    border-radius: 50%;
    height: 250px;
}

.vh-area {
    padding: 55px;
}

.icon {
    height: 35px;
}

.typing-animation {
    display: none;
    text-align: left;
    padding: 10px;
}

.dot-1, .dot-2, .dot-3 {
    width: 8px;
    height: 8px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px;
    animation: blink 1.4s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

#corner {
    position: fixed;
    bottom: 55px;
    right: 55px;
}