.areas {
    display: flex;
    flex-direction: row;
}

.area {
    border: 3px solid #FA4616;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
    width: 49%;
}

h2 {
    color: #0021A5;
    font-size: 35px;
    margin-bottom: 0px;
}

h3 {
    color: #0021A5;
    font-size: 29px;
}

.minor {
    font-size: 21px !important;
}