.areas {
    display: flex;
    flex-direction: row;
}

.area {
    border: 3px solid #EE7E38;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
    width: 49%;
}

h2 {
    color: #015495;
    font-size: 35px;
    margin-bottom: 0px;
}

h3 {
    color: #015495;
    font-size: 29px;
}

.minor {
    font-size: 21px !important;
}

.red {
    background-color: #B50000;
}

.green {
    background-color: green;
}

video {
    width: 75%;
}