.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 3px solid #002657;
    border-image: linear-gradient(
      45deg,
      #0021a5,#002657
    ) 3;
}

.main-area {
    display: flex;
    flex-direction: row;
    align-items: center;
}

img {
    height: 75px;
}

.UFLogo {
    height: 65px !important;
    right: 15px !important;
}

.header-logo {
    height: 55px !important;
    margin-right: 15px;
}

.navbar-title {
    font-weight: 600;
    font-size: 25px;
}

@media only screen and (max-width: 600px) {

    .navbar-title {
        font-size: 19px;
    }

    .header-logo {
        height: 45px !important;
    }

    .UFLogo {
        height: 35px !important;
    }

    .main-area {
        width: 65% !important;
    }
}