.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    justify-content: center;
}

.alex-logo {
    height: 105px !important;
}

.title {
    font-size: 55px !important;
    margin-top: 0;
    margin-bottom: 0;
}

.selection-area {
    display: flex;
    flex-direction: column;
    border: 3px solid #0021A5;
    border-radius: 35px;
    padding: 35px;
}

.choose-alex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.character-select {
    height: 250px;
    border-radius: 50%;
    margin: 15px;
    transition: .2s ease-in-out;
}

.character-select:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.selected-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
    display: none;
}

#english {
    display: none;
}

#spansih {
    display: none;
}

/* -- Comments on August Release -- 
    Creating a separate set of css in index.css for August Release
    Separate css files created as well, but this felt appropriate for index.css
    Main Reasons:
    - I think button for discovery on same line as title makes sense? So title-container is that. 
    - August Release text is left-aligned
    - August Release has a navigation pane on the left
*/
.title-container-2 {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0px;
}

.title-container {  display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: max-content;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "main-title-container discover-container";
  }
  
  .main-title-container { grid-area: main-title-container; }
  
  .discover-container { grid-area: discover-container; }
  

.text-container {  
    display: grid;
    grid-template-columns: 2% 20% 1fr;
    grid-template-rows: 1fr;
    gap: 0px 15px;
    grid-auto-flow: row;
    grid-template-areas:
      "gap-grid navigation-grid text-grid";
  }
  
.gap-container { grid-area: gap-grid; }
.navigation-container { grid-area: navigation-grid; }
.content-container { grid-area: text-grid; }



  .goog-te-combo   {
    font-size: 25px !important;
    padding: 10px;
    border-radius: 15px;
    border: 0px;
    background-color: #0021A5;
    color: white;
 }

 #google_translate_element > div > span > a > img {
    height: 25px !important;
 }