body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-weight: 900;
    color: #015495;
}

p {
    font-weight: 500;
    font-size: 25px;
}

a {
    text-decoration: none;
}

button {
    background-color: #015495;
    padding: 15px;
    border: 0px;
    border-radius: 11px;
    color: white;
    font-size: 21px;
    transition: .2s ease-in-out;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}