.progress-container::before {
    content: "";
    background: #0021A5;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
  }
  
  .progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 65%;
  }
  
  .progress {
    background: #0021A5;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
  }
  
  .circle {
    border: 1px solid #0021A5;
    background: white;
    color: #0021A5;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease;
    font-size: 15px;
  }
  
  .circle.active {
    border-color: #FA4616;
    background: #FA4616;
    color: white;
  }

  .circle.visited {
    background: #0021A5;
    color: white;
  }