fieldset {
    margin: 15px;
    padding: 15px;
    border-radius: 7px;
    border-color: #1e4a97;
}

legend {
    background-color: #1e4a97;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    font-size: 21px;
}

label, input, select {
    font-size: 21px;
    border-radius: 5px;
}

.study-card {
    display: flex;
    flex-direction: column;
    width: 65%;
    border: 1px solid #1e4a97;
    border-radius: 7px;
    padding: 45px;
    text-align: left;
    margin: 55px;
}

.study-row {
    display: flex;
    flex-direction: row;
}

.row {
    margin: 15px;
}

h3 {
    color:#1e4a97;
    font-size: 33px;
}

h4 {
    font-size: 25px;
    margin-bottom: 0px;
}

hr {

    width: 100%;
}

#cities-list {
    list-style: none;
}

#cities-list li {
    list-style: none;
    padding: 0;
}

#cities-list li:hover {
    background-color: grey;
}