<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <link href="/css/discover.css" rel="stylesheet" type="text/css">
    <script src="/scripts/discover.js"></script>
    <script src="/scripts/registerClicks.js"></script>
    <title>ALEX</title>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <div class="container">
        <h1 class="title">Discover Research Opportunities</h1>
        <p>Now that you’ve learned more about research studies from Alex, here are a few things you can do!</p>
        <div class="areas">
            <div class="area">
                <h3>Download Question Guide</h3>
                <p class="minor">To download questions to <b>ask healthcare providers, study teams, and loved ones</b> about research studies, click the button below. It will open a new tab where you can easily download a PDF version.</p>
                <button onclick="download()">Download Question Guide</button>
            </div>
            <div class="area">
                <h3>Share ALEX with Friends and Family</h3>
                <p class="minor">To <b>share this information with friends and family</b>, click the button below to copy the link to this website.</p>
                <button onclick="copyLink()">Copy Link</button>
            </div>
        </div>

                <h2>Search for a Research Study</h2>
                <p>Now you're ready to search for a research study! To <b>find research studies suitable for you</b>, click the button below. It will take you to a search page. </p>
                <a onclick="sendToDatabase(`SearchStudies`, `clicked`)" href="/<%=id%>/<%=type%>/StudySearch/Background"><button class="red">Continue to Final Steps</button>
    
        
    </div>
</body>
</html>