<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bowser/2.11.0/bundled.js"></script>
    <script src="/scripts/registerClick.js"></script>
    <script src="/scripts/getInfo.js"></script>
    <title>ALEX</title>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <div class="container">
        <img class="logo" src="/images/logo.png" /> 
        <h1 class="title">Welcome to Research Studies with ALEX!</h1>
        <p> Meet ALEX, your virtual guide to understanding and finding research studies. </p>
        <div class="selection-area">
            <p>To get started, <b>click on the ALEX character you prefer</b> to talk to about research. 
            <br/> No matter your choice, the information  you receive remains the same. </p>
            <div class="choose-alex">
                <a onclick="registerClick(`VHType`, `white female`)">  <img class="alex-snippet" src="/images/wf.png" /> </a>
                <a onclick="registerClick(`VHType`, `black female`)"> <img class="alex-snippet" src="/images/bf.png" /> </a>
                <a onclick="registerClick(`VHType`, `black male`)"> <img class="alex-snippet" src="/images/bm.png" /> </a>
                <a onclick="registerClick(`VHType`, `white female`)"> <img class="alex-snippet" src="/images/wm.png" /> </a>
            </div>
        </div>
    </div>
</body>
</html>