<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <link href="/css/discover.css" rel="stylesheet" type="text/css">
    <script src="/scripts/discover.js"></script>
    <script src="/scripts/registerClicks.js"></script>
    <title>ALEX</title>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <div class="container">
        <h1 class="title">Discover Research Opportunities</h1>
            <br/ >
            
            <video autoplay controls>
                <source src="https://research-studies-with-alex.s3.amazonaws.com/VirtualHCW/CTIntro_VHCW.mp4" type="video/mp4">
            </video>

            <br />

            <a onclick="sendToDatabase(`SearchStudies`, `clicked`)" href="/<%=id%>/<%=type%>/StudySearch/Background"><button class="red">Start</button>
    
        
    </div>
</body>
</html>