<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <link href="/css/studySearch.css" rel="stylesheet" type="text/css">
    <link href="/css/progressBar.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bowser/2.11.0/bundled.js"></script>
    <script src="/scripts/studySearch.js"></script>
    <script src="/scripts/StudySearch/preferences.js"></script>
    <title>ALEX</title>
</head>
<body>
    <header>
        <%- include('../../partials/header'); %>
    </header>
    <div class="container">
        <div class="progress-container">
            <div class="progress" id="progress"> </div>
            <div class="circle visited">✓ <br/> Background</div>
            <div class="circle active">2 <br/> Preferences</div>
            <div class="circle">3  <br/>Registries</div>
            <div class="circle">4 <br/>Studies</div>
          </div>
        <h1 class="title">Preferences</h1>
        <p> Please fill out the following information to identify research studies you may be eligible for.  </p>
        <div class="form-area">
            <form id="preferences-info">
                <fieldset>
                    <legend>&nbsp; Are you a healthy volunteer? &nbsp;</legend>
                    <p class="info">Healthy volunteers are people who <b>do not</b> have the condition/disease being studied, but still want to participate in research studies.</p>
                    <input type="radio" id="yes-hv" name="HealthyVolunteer" value="Yes" />
                    <label for="yes">Yes</label>
                    <input type="radio" id="no-hv" name="HealthyVolunteer" value="No" />
                    <label for="no">No</label>
                </fieldset>
                <fieldset id="conditions-box">
                    <legend>&nbsp; What condition(s) are you most interested in participating in a research study for? &nbsp;</legend>
                    <p class = "info">You may enter up to three conditions to search for.</p>
                    <div class="fieldset-container">
                        <div class="g1"></div>
                        <div class="g2"></div>
                        <div class="g3"></div>
                        <div class="i1">
                            <input type="text" id="ConditionText-1" name="ConditionText1">
                            <ul class="cities-list" id="conditions-list-1" name="cities-list"></ul>
                        </div>
                        <div class="i2">
                            <input style="display: none;" type="text" id="ConditionText-2" name="ConditionText2">
                            <ul class="cities-list" id="conditions-list-2" name="cities-list"></ul>
                        </div>
                        <div class="i3">
                            <input style="display: none;" type="text" id="ConditionText-3" name="ConditionText3">
                            <ul class="cities-list" id="conditions-list-3" name="cities-list"></ul>
                        </div>
                       <div class="bg1"></div>
                        <div class="bg2"></div>
                        <div class="bg3"></div> 
                        <div class="r1">
                            <button type="button" id="add-1"  class = "add-button"  style="display: none;"data-text="+">+</button>
                        </div>
                        <div class="r2">
                            <button type="button" id="remove-2"  class = "remove-button" style="display: none;" data-text="-">-</button>
                        </div>
                        <div class="r3">                      
                            <button type="button" id="remove-3" class = "remove-button" style="display: none;" data-text="-`">-</button>
                        </div>
                        <div class="bg11"></div>
                        <div class="bg21"></div>
                        <div class="bg31"></div>
                        <div class="a1"></div>
                        <div class="a2">
                            <button type="button" id="add-2"  class = "add-button"  style="display: none;"data-text="+">+</button>
                        </div>
                        <div class="a3"></div>
                        <div class="x1"></div>
                        <div class="x2"></div>
                        <div class="x3"></div>
                    </div>
                    <p class = "info">You can add another condition by pressing the + after typing in your first condition.<br>You can remove a condition by pressing the -</p>
                </fieldset>
            </form>
            <a href="/<%=id%>/<%=type%>/StudySearch/Registries" onclick="sendFormData(`preferences-info`)">
                <button>Next</button>
            </a>
        </div>
    </div>
</body>
</html>